{% extends layout%}
{% block content %}
<p class="dashboard-greeting" style="font-size: 1.5rem; font-weight: bold; color: #223771; margin-bottom: 25px; margin-top:5px; margin-left: 0;">
        Chúc bạn một ngày tốt lành!
    </p>
<div class="dashboard-container" style="flex-direction: column; align-items: flex-start;">
    <!-- Dòng chào sát góc trên bên trái -->
    
    <!-- Hai hộp nằm hàng dưới, cùng hàng ngang -->
    <div class="dashboard-content">
        <!-- Hộp Chấm công -->
        <div class="dashboad-item chucnang">
            <a class="dashboad-item-box" href="{{ url_for('attendance.bang_cham_cong_ngay') }}">
                <img src="{{ url_for('static', filename='img/face.png') }}" alt="Chấm công">
                <div class="dashboad-title">Chấm công</div>
            </a>
        </div>
        <!-- Hộp Tài chính -->
        <div class="dashboad-item chucnang">
            <a class="dashboad-item-box" href="{{ url_for('attendance.tong_hop_nam') }}">
                <img src="{{ url_for('static', filename='img/taichinh.png') }}" alt="Tài chính">
                <div class="dashboad-title">Thống kê chấm công</div>
            </a>
        </div>
    </div>
</div>
{% endblock %}